/* sidebar active bug */
.sidebar ul li[class=""]>a {
    border-right: 2px solid;
    color: var(--theme-color, #42b983);
    font-weight: 600
}
/* section */
.markdown-section pre {
    padding: 0;
}

.markdown-section pre>code {
    padding: 1rem;
}

aside.toc-nav {
    top: 15%;
}

.github-corner svg {
    height: 50px;
    width: 50px;
}

.app-nav {
    margin: 20px 6% 0 0;
}
